@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Customers</h2>
@if(Model.Count == 0)
{
    <h5>Sorry We Don't Have any Customer yet</h5>
}
else
{
    <table class="table table-­‐bordered table-­‐hover">
        <thead>
            <tr class="table-dark">
                <th scope="col"> Customer ID </th>
                <th scope="col"> Customer Name</th>
                <th scope="col"> Discount Rate</th>
                <th scope="col" class="text-right">  </th>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.Id
                </td>
                <td>
                    @Html.ActionLink(@customer.Name,"Edit", new { id = @customer.Id },  "Customers")
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                <td>
                    <div class="text-right">
                        <a href="/Customers/Edit/@customer.Id" role="button" class="btn btn-outline-primary ">&nbsp Edit &nbsp </a>
                        <a href="/Customers/Delete/@customer.Id" onclick="alert('Are You Sure To Delete Customer')" role="button" class="btn btn-outline-danger ">Delete</a>
                    </div>

                </td>
            </tr>

        }
    </table>
}
<a href="/Customers/CustomerForm" role="button" class="btn btn-outline-primary btn-block btn-lg">Add New Customer</a>
